* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1024px; */
}
.navbar {
  width: 100%;
  /* max-width: 1024px; */
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003580;
}
.brand {
  font-size: 30px;
  color: white;
  margin-left: 100px;
  font-weight: bolder;
}
.btn {
  border: none;
  background-color: white;
  color: #003580;
  padding: 5px 10px;
  /* margin-left: 10px; */
}
.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-right: 100px;
}
/* hummer */
.toggle div {
  width: 2.5rem;
  height: 0.2rem;
  background: darkgray;
  margin: 0.4rem;
  transition: 0.4s ease-in;
}
.toggle {
  cursor: pointer;
  display: none;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .toggle {
    cursor: pointer;
    display: block;
    /* margin-bottom: 5px; */
  }

  .navMenu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 25%;
    height: auto;
    z-index: 1;
    background-color: #003580;
    flex-direction: column;
    justify-content: start;
    margin-right: 0;
    gap: 1rem;
    padding: 10px;
    transform: translate(100%);
    transition: 0.5s ease-in;
  }
}

/* Nav active class */
.navActive {
  transform: translate(0);
}
/* toogle Icon animation */
.toggler .line1 {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.toggler .line2 {
  opacity: 0;
}
.toggler .line3 {
  transform: rotate(45deg) translate(-8px, -5px);

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
